@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

:root {
    --text: #1e0e0b;
    --background: #fcf8f8;
    --primary: #6f342a;
    --secondary: #e6c3bc;
    --accent: #9b493b;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--text);
    font-family: 'Ubuntu', sans-serif;
    font-size: 5vw;
    text-align: center;
}


/* Odometer */
.cookieCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: var(--primary);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    height: 45vh;
    border-radius: 5vw;
}


.zerosPlaceHolders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    transform: translateY(26.8vw);
    margin-left: 1vw;
    margin-right: 1vw;
    transition: 0.2s;
}

.odometerText {
    font-size: 5.5vw;
    color: var(--text);
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: -0.2vw;
    margin-bottom: -0.2vw;
    opacity: 0;
}



/* Cookie Button */
.cookieButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    z-index: 100;
}

.cookieButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    border-radius: 20px;
    background-color: var(--primary);
    user-select: none;
    z-index: 101;
    transition: 0.5s;
    height: 5vw;
    width: 30vw;
}

.cookieButtonDiv:hover {
    background-color: var(--accent);
    cursor: pointer;
}

.cookieButtonDiv:active {
    scale: 0.8;
}