@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

:root {
    --text: #000000;
    --background: #ffffff;
    --primary: #8fb3ff;
    --secondary: #ebf1ff;
    --accent: #d41d6d;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--text);
    font-family: 'Ubuntu', sans-serif;
    font-size: 5vw;
    text-align: center;
}

p {
    color: var(--text);
    font-family: 'Ubuntu', sans-serif;
    font-size: 2vw;
    text-align: center;
}

.pageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Odometer */
.cookieCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: var(--primary);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
    height: 45vh;
    border-radius: 5vw;
    transition: 0.5s;
}

.cookieCounter:hover {
    background-color: var(--accent);
    cursor: pointer;
}

.cookieCounter:active {
    scale: 0.95;
}


.zerosPlaceHolders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    transform: translateY(26.8vw);
    margin-left: 1vw;
    margin-right: 1vw;
    transition: 0.2s;
}

.odometerText {
    font-size: 5.5vw;
    color: var(--text);
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: -0.2vw;
    margin-bottom: -0.2vw;
    opacity: 0;
    user-select: none;
}



/* Cookie Button */
.cookieButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    z-index: 100;
}

.cookieButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    border-radius: 20px;
    background-color: var(--primary);
    user-select: none;
    z-index: 101;
    transition: 0.5s;
    height: 5vw;
    width: 30vw;
}

.cookieButtonDiv:hover {
    background-color: var(--accent);
    cursor: pointer;
}

.cookieButtonDiv:active {
    scale: 0.8;
}

/* Shop */
.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 85%;
    border-radius: 30px;
    background-color: var(--primary);
    z-index: 103;
    opacity: 0.9;
}

.shopDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2%;
    width: 80%;
    border-radius: 30px;
    background-color: var(--primary);
    transition: 0.5s;
    opacity: 0.9;
}

.shopTextDiv {
    margin: 5%;
}

.shopButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    border-radius: 20px;
    background-color: var(--primary);
    user-select: none;
    z-index: 101;
    transition: 0.5s;
    height: 5vw;
    width: 30vw;
}

.shopButtonDiv:hover {
    background-color: var(--accent);
    cursor: pointer;
}

.shopButtonDiv:active {
    scale: 0.9;
}

/* Stats */
.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 85%;
    margin: 5%;
    border-radius: 30px;
    background-color: var(--primary);
    z-index: 104;
    opacity: 0.9;
}

.statsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2%;
    width: 80%;
    border-radius: 30px;
    background-color: var(--primary);
    transition: 0.5s;
    opacity: 0.9;
}

.statsTextDiv {
    margin: 5%;
}



/* Items */
.items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 85%;
    margin: 5%;
    border-radius: 30px;
    background-color: var(--primary);
    z-index: 105;
    opacity: 0.9;
}

.itemsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2%;
    width: 80%;
    border-radius: 30px;
    background-color: var(--primary);
    transition: 0.5s;
    opacity: 0.9;
}

.itemsDiv:hover {
    background-color: var(--accent);
}

.itemsTextDiv {
    margin: 5%;
}